:root {
  --purple-light: #8154D1;
  --blue: #2D0F60;
  --blue-dark: #120267;
  --yellow: #FFBF00;
  --background: #130526;
}

* {
  margin: 0;
  padding: 0;
}

body{overflow-x: hidden}
.aos-init:not(.aos-animate):after {position: fixed;}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6;
}

@font-face {
  font-family: nexa-light;
  src: url('../Nexa/Nexa-Light.otf');
}

@font-face {
  font-family: nexa-regular;
  src: url('../Nexa/NexaRegular.otf');
}

@font-face {
  font-family: nexa-bold;
  src: url('../Nexa/NexaXBold.otf');
}