.header__secondary {
  color: var(--purple-light);
  font-family: nexa-regular;
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 500;
}

.header__primary {
  color: white;
  display: block;
  font-family: nexa-bold;
  font-size: 5rem;
  // font-weight: 900;
  word-break: break-all;
  letter-spacing: -3px;
  line-height: 0.9;

  &::after {
    content: '';
    background-color: var(--yellow);
    display: block;
    position: absolute;
    height: 1rem;
    width: 749.6px;
    margin-top: -0.5rem;
  }
}

.dot::after {
  content: '';
  display: inline-block;
  background-color: var(--yellow);
  height: 1rem;
  width: 1rem;
  margin-top: 2.2rem;
  margin-left: 5px;
}

.container {
  background-color: red;
  display: flex;
  width: 80%;
}

.presentation {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  &__picture {
    height: 65rem;
    z-index: -1;
    width: 30rem;
    z-index: 1;
    margin-top: 10rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__info {
    margin-top: 29rem;
  }

  &__description {
    background-image: linear-gradient(-60deg, var(--yellow) 70%, var(--yellow) 50%, #FFFFB2 50%);
    color: var(--blue);
    text-align: center;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: nexa-bold;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__skills {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
  }

  &__item {
    list-style: none;
    color: white;
    filter: blur(1px);
    font-size: 2rem;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: -5px;
    }

    &:hover {
      color: white;
      filter: blur(0);
      text-shadow: none;
    }
  }
}

////////////////////////
// PROJECTS
.project {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 5rem auto;

  &-invert {
    flex-direction: row-reverse;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 10rem auto;
  }

  &__card {
    background-color: rgba(72, 5, 189, 0.1);
    padding: 5rem 5rem;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    width: 325px;
    position: relative;
    z-index: 10;
    height: 425px;
  }

  &__title {
    color: white;
    font-size: 3rem;
    font-family: nexa-bold;
  }

  &__description {
    color: var(--purple-light);
    font-family: nexa-regular;
    font-size: 1.5rem;
  }

  &__img {
    margin-left: -5rem;
    align-self: center;
    // max-width: 100%;
    height: 275px;
    transition: all .3s;
    filter: brightness(0.35);
    max-width: 60rem;
    border-radius: 5px;

    &-invert {
      margin-right: -5rem;
      align-self: center;
      // max-width: 100%;
      height: 275px;
      transition: all .3s;
      filter: brightness(0.35);
      max-width: 60rem;
      border-radius: 5px;

      &:hover {
        position: relative;
        z-index: 1000;
        transform: scale(1.15);
        border: 5px var(--yellow) solid;
        filter: brightness(0.9);
      }
    }

    &:hover {
      position: relative;
      z-index: 1000;
      transform: scale(1.15);
      border: 5px var(--yellow) solid;
      filter: brightness(0.9);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__toolbox {
    margin-top: 1rem;
    display: flex;
  }

  &__tools {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex: 0 0 300px;
    margin-right: 2rem;

    &-item {
      list-style: none;
      color: white;
      font-family: nexa-bold;
      font-size: 1.8rem;

      &:hover {
        box-sizing: content-box;
        color: var(--yellow);
      }
    }
  }

  &__icon {
    align-self: center;
    height: 3rem;
    width: 3rem;
    flex: 0 0 100px;
    fill: white;

    &:hover {
      transform: scale(1.1);
      fill: var(--yellow);
      margin-left: 2px;
    }
  }
}

////////////////////////
// TOOLS
.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__textbox {
    margin-top: 10rem;
    margin-bottom: 13rem;
  }

  &__header {
    color: white;
    font-family: nexa-regular;
    font-size: 4rem;
    text-align: center;
  }

  &__sub {
    color: white;
    font-family: nexa-regular;
    font-size: 3rem;

  }

  &__type {
    color: white;
    font-family: nexa-regular;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__front {
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__icon {
    align-self: center;
    height: 150px;
    width: 100px;
    fill: var(--yellow);
  }

  &__description {
    font-family: nexa-regular;
    font-size: 1.4rem;
    text-align: center;
  }
}

/////////////////////////////////////////////////
// CONTACT 
.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    display: flex;
    margin-top: 7rem;
    width: 400px;
    justify-content: space-between;
  }

  &__item {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
  }

  &__header {
    color: white;
    font-family: nexa-bold;
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
  }

  &__icon {
    fill: var(--yellow);
    cursor: pointer;
    margin-bottom: 5px;
    transition: all .3s;
    height: 125px;
    width: 125px;
  }

  &__rights {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    left: 50px;
    bottom: 20px;
  }
}