.header__secondary {
  color: var(--purple-light);
  font-family: nexa-regular;
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 500;
}

.header__primary {
  color: white;
  display: block;
  font-family: nexa-bold;
  font-size: 5rem;
  // font-weight: 900;
  word-break: break-all;
  letter-spacing: -3px;
  line-height: 0.9;

  &::after {
    content: '';
    background-color: var(--yellow);
    display: block;
    position: absolute;
    height: 1rem;
    width: 749.6px;
    margin-top: -0.5rem;
  }
}

.dot::after {
  content: '';
  display: inline-block;
  background-color: var(--yellow);
  height: 1rem;
  width: 1rem;
  margin-top: 2.2rem;
  margin-left: 5px;
}

.container {
  background-color: red;
  display: flex;
  width: 80%;
}

.presentation {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  &__picture {
    height: 65rem;
    z-index: -1;
    width: 30rem;
    z-index: 1;
    margin-top: 10rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__info {
    margin-top: 29rem;
  }

  &__description {
    background-image: linear-gradient(-60deg, var(--yellow) 70%, var(--yellow) 50%, #FFFFB2 50%);
    color: var(--blue);
    text-align: center;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: nexa-bold;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__skills {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
  }

  &__item {
    list-style: none;
    color: white;
    filter: blur(1px);
    font-size: 2rem;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: -5px;
    }

    &:hover {
      color: white;
      filter: blur(0);
      text-shadow: none;
    }
  }
}
