/////////////////////////////////////////////////////////////////////////////////////////////////////
// PRESENTATION
.presentation-section {
  height: 100vh;
  width: 100%;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// PROJECTS
.projects-section {
  // background-color: red;
  display: flex;
  flex-direction: column;
  margin-bottom: 25rem;
}