.background-helper {
  background-repeat: no-repeat;
  background-image: url('../img/NeanderPort_BG.jpg');
  background-size: 100% 100%;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// PRESENTATION
.presentation-section {
  height: 100vh;
  width: 100%;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// PROJECTS
.projects-section {
  // background-color: red;
  display: flex;
  flex-direction: column;
  // margin-bottom: 25rem;
  margin-top: -10rem;
  width: 100%;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// TOOLS
.tools-section {
  background-color: var(--background);
  min-height: 1000px;
  width: 100%;
}

.cardbox {
  margin-left: -5rem;
  align-self: center;
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-container {
  align-self: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  width: 150px;
  margin-left: 3rem;
  margin-bottom: 2rem;
  color: white;
  transition: all .3s;

  &:hover {
    color: var(--yellow);
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(255, 191, 0, .2);
  }
}

.header {
  width: 100%;
  position: absolute;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
}

.nav {
  display: flex;
  position: absolute;
  top: 15px;
  right: 50px;
  margin-left: 5rem;

  @media screen and (max-width: 800px) {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 37%;
  }

  &__link {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 4rem;
    text-decoration: none;
    border-bottom: 3px solid var(--yellow);

    &:hover {
      color: var(--yellow);
    }
  }
}

.contact-section {
  background-color: #121212;
  height: 500px;
  position: relative;
}