.background-helper {
  background-repeat: no-repeat;
  background-image: url('../img/NeanderPort_BG.jpg');
  background-size: 100% 100%;
  width: 100%;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// PRESENTATION
.presentation-section {
  height: 100vh;
  width: 100%;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// PROJECTS
.projects-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// TOOLS
.tools-section {
  background-color: var(--background);
  width: 100%;
  padding: 2rem 0;
}

.cardbox {
  margin-left: -5rem;
  align-self: center;
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 800px){
    margin-left: -3rem;
    margin-top: -3rem;
  }

}

.icon-container {
  align-self: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: center;
  width: 15rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  color: white;
  transition: all .3s;

  @media screen and (min-width: 801px){
    &:hover {
      color: var(--yellow);
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(255, 191, 0, .2);
    }
  }

  @media screen and (max-width: 800px){
    align-self: center;
    margin-left: 2rem;
    height: 10rem;
    width: 7.5rem;
  }
}

.header {
  align-items: center;
  position: absolute;
  height: 70px;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 800px) {
    background-color: transparent;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 2rem;

  @media screen and (max-width: 800px) {
    left: 2rem;

  }

  &__link {
    margin-right: 1.5rem;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    border-bottom: 3px solid var(--yellow);

    &:hover {
      color: var(--yellow);
    }
  }
}

.contact-section {
  background-color: #121212;
  position: relative;
  padding-bottom: 5rem;
}